*{
    margin:0;
    padding:0;
}

.App{
    overflow:auto ; 
    background: linear-gradient(to bottom,rgb(253, 189, 71) 50%, rgb(222, 241, 241) 50%);
    box-sizing:border-box;
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#cw_logo{
/* object-fit: cover; */
height: 100px;
}
